*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(./MATH2-1024x1024.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

   
}

.calculator {
    position: relative;
    border-radius: 10px;
    width: 30%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
    background-color: #4f4f4f;
    height: 65%;
    padding: 13px;
}

.calculator .display{
    height: 100px;
    width: 90%;
    background-color: rgb(217 217 217);
    color: rgb(0, 0, 0);
    text-align: right;
    border-radius: 19px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.calculator .display .output{
    padding: 10px;
    opacity: .5;
    font-size: 18px;
}
.calculator .display .result{
    padding: 10px;
    font-size: 28px;
    margin-top: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    position: relative;
    top: 132px;
    
    
}
button{
    border: 1px solid #5d5d5c;
    padding: 8px 8px;
    cursor: pointer;
    background-color: rgb(217 217 217);
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: .3s;
    border-radius: 6px;
}
button:hover{
    background-color: black;
    color: white;
}
.double{
    grid-column: 1/3;
    
}

.equal{
    background-color: rgb(209, 136, 0);
}
.equal:hover{
    background-color: rgb(178, 116, 2);
    color: white;
}


@keyframes small {
    0%{
        font-size: 18px;

    }
    100%{
        font-size: 14px;

    }
}
@keyframes big {
    0%{
        font-size: 28px;

    }
    100%{
        font-size: 33px;

    }
}



